```
# Unity specific ignores
Library/
Temp/
Obj/
Build/
Builds/
*.unityproj
*.userprefs
*.sln
*.csproj
*.pidb
*.pdb
*.user
*.userosscache
*.suo
*.booproj
*.svd
*.pdb.meta
*.pidb.meta
*.meta
csc.rsp
.mdb
.unity
.unity3d
.vs/

# Editor-specific
Assets/Editor/
```